{% extends "layout.html" %}
{% block content %}

    <div class="body-content">
        <div class="container">
            <h1>Welcome {{ current_user.username }}</h1>
            {% include 'users/add_feed.html' %}

            <h2>My Feeds</h2>

            <div class="list-group">
                {% for feed in feeds %}

                    <a href="{{ url_for('feed.index', feedurl=feed.url) }}"
                       class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">{{ feed.title }}</h5>
                            {#                    <small>{{ post.updated }}</small>#}
                        </div>
                        <p class="mb-1">{{ feed.subtitle }}</p>
                        <small>{{ url_for('feed.index', feedurl=feed.url) }}</small>
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>


{% endblock %}

