{% extends "layout.html" %}
{% block content %}


    <div class="body-content">
        <div class="container">
             <div class="row">
                <div class="col-md-8 col-md-offset-3">
                    <h2>Create an account save your RSS feeds</h2>
                </div>
            </div>
            {% include 'public/register.html' %}
            <div class="row">
                <div class="col-md-6 col-md-offset-4">
                    <h2>Or enter RSS feed URL</h2>
                </div>
            </div>
            {% include 'public/get_feed.html' %}
        </div>
    </div>

{% endblock %}

