{% extends "layout.html" %}
{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="panel panel-login">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-6">
                                <a href="#" class="active" id="login-form-link">Login</a>
                            </div>
                            <div class="col-xs-6">
                                <a href="#" id="register-form-link">Register</a>
                            </div>
                        </div>
                        <hr>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <form id="loginForm" method="post" action="/" role="login" style="display: block;">
                                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                                    <div class="form-group">
                                        {{ form.username(placeholder="Username", class_="form-control") }}
                                        {{ form.password(placeholder="Password", class_="form-control") }}
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-6 col-sm-offset-3">
                                                <input type="submit" name="login-submit" id="login-submit" tabindex="4"
                                                       class="form-control btn btn-login" value="Log In">
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <form id="registerForm" action="" method="post"
                                      role="form" style="display: none;">
                                    {{ form.csrf_token }}
                                    <div class="form-group">
                                        {{ form.username.label }}
                                        {{ form.username(placeholder="Username", class_="form-control") }}
                                    </div>
                                    <div class="form-group">
                                        {{ form.email.label }}
                                        {{ form.email(placeholder="Email", class_="form-control") }}
                                    </div>
                                    <div class="form-group">
                                        {{ form.password.label }}
                                        {{ form.password(placeholder="Password", class_="form-control") }}
                                    </div>
                                    <div class="form-group">
                                        {{ form.confirm.label }}
                                        {{ form.confirm(placeholder="Password (again)", class_="form-control") }}
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-6 col-sm-offset-3">
                                                <input type="submit" name="register-submit" id="register-submit"
                                                       tabindex="4" class="form-control btn btn-register"
                                                       value="Register">
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

